Repository banana6boom/angular-nx-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix --color, npx stylelint --fix, npx prettier --write

.lintstagedrc:

{
  "*.{js,ts}": [
    "npx eslint --fix --color"
  ],
  "*.{css,scss}": [
    "npx stylelint --fix"
  ],
  "*.html": [
    "npx prettier --write"
  ],
  "*.json": [
    "npx prettier --write"
  ]
}

feat: добавил tailwind и bulma
  .stylelintrc.js
  apps/sandbox/project.json
  apps/sandbox/src/styles.scss
  package-lock.json
  package.json
  tailwind.config.js
Due: npx eslint --fix --color, npx stylelint --fix, npx prettier --write

fix: поправил импорт стилей для bulma
  apps/sandbox/project.json
Due: npx prettier --write

fix: поправил tailwind конфиг
  apps/sandbox/src/styles.scss
  tailwind.config.js
Due: npx eslint --fix --color, npx stylelint --fix

feat(mini-social): добавил библиотеку feature-posts
  libs/mini-social/feature-posts/.eslintrc.json
  libs/mini-social/feature-posts/README.md
  libs/mini-social/feature-posts/jest.config.ts
  libs/mini-social/feature-posts/project.json
  libs/mini-social/feature-posts/src/index.ts
  libs/mini-social/feature-posts/src/lib/feature-posts.module.ts
  libs/mini-social/feature-posts/src/lib/interfaces/index.ts
  libs/mini-social/feature-posts/src/lib/interfaces/post.interface.ts
  libs/mini-social/feature-posts/src/lib/post-create/index.ts
  libs/mini-social/feature-posts/src/lib/post-create/post-create.component.html
  libs/mini-social/feature-posts/src/lib/post-create/post-create.component.scss
  libs/mini-social/feature-posts/src/lib/post-create/post-create.component.spec.ts
  libs/mini-social/feature-posts/src/lib/post-create/post-create.component.ts
  libs/mini-social/feature-posts/src/lib/post-create/post-create.module.ts
  libs/mini-social/feature-posts/src/lib/post-list/index.ts
  libs/mini-social/feature-posts/src/lib/post-list/post-list.component.html
  libs/mini-social/feature-posts/src/lib/post-list/post-list.component.scss
  libs/mini-social/feature-posts/src/lib/post-list/post-list.component.spec.ts
  libs/mini-social/feature-posts/src/lib/post-list/post-list.component.ts
  libs/mini-social/feature-posts/src/lib/post-list/post-list.module.ts
  libs/mini-social/feature-posts/src/test-setup.ts
  libs/mini-social/feature-posts/tsconfig.json
  libs/mini-social/feature-posts/tsconfig.lib.json
  libs/mini-social/feature-posts/tsconfig.spec.json
Due: npx eslint --fix --color, npx stylelint --fix, npx prettier --write

feat(mini-social): добавил библиотеку ui-layout
  apps/sandbox/project.json
  libs/mini-social/ui-layout/.eslintrc.json
  libs/mini-social/ui-layout/README.md
  libs/mini-social/ui-layout/jest.config.ts
  libs/mini-social/ui-layout/project.json
  libs/mini-social/ui-layout/src/index.ts
  libs/mini-social/ui-layout/src/lib/header/header.component.html
  libs/mini-social/ui-layout/src/lib/header/header.component.spec.ts
  libs/mini-social/ui-layout/src/lib/header/header.component.ts
  libs/mini-social/ui-layout/src/lib/header/header.module.ts
  libs/mini-social/ui-layout/src/lib/header/index.ts
  libs/mini-social/ui-layout/src/lib/ui-layout.module.ts
  libs/mini-social/ui-layout/src/test-setup.ts
  libs/mini-social/ui-layout/tsconfig.json
  libs/mini-social/ui-layout/tsconfig.lib.json
  libs/mini-social/ui-layout/tsconfig.spec.json
Due: npx eslint --fix --color, npx prettier --write

feat(mini-social): добавил первые компоненты в приложение
  apps/mini-social/frontend/.browserslistrc
  apps/mini-social/frontend/.eslintrc.json
  apps/mini-social/frontend/jest.config.ts
  apps/mini-social/frontend/project.json
  apps/mini-social/frontend/proxy.conf.json
  apps/mini-social/frontend/src/app/app.component.html
  apps/mini-social/frontend/src/app/app.component.scss
  apps/mini-social/frontend/src/app/app.component.spec.ts
  apps/mini-social/frontend/src/app/app.component.ts
  apps/mini-social/frontend/src/app/app.module.ts
  apps/mini-social/frontend/src/assets/.gitkeep
  apps/mini-social/frontend/src/environments/environment.prod.ts
  apps/mini-social/frontend/src/environments/environment.ts
  apps/mini-social/frontend/src/favicon.ico
  apps/mini-social/frontend/src/index.html
  apps/mini-social/frontend/src/main.ts
  apps/mini-social/frontend/src/polyfills.ts
  apps/mini-social/frontend/src/styles.scss
  apps/mini-social/frontend/src/test-setup.ts
  apps/mini-social/frontend/src/theme.scss
  apps/mini-social/frontend/tsconfig.app.json
  apps/mini-social/frontend/tsconfig.editor.json
  apps/mini-social/frontend/tsconfig.json
  apps/mini-social/frontend/tsconfig.spec.json
Due: npx eslint --fix --color, npx stylelint --fix, npx prettier --write

feat(mini-social): добавил скелет express js приложения
  angular.json
  apps/mini-social/backend/.eslintrc.json
  apps/mini-social/backend/jest.config.ts
  apps/mini-social/backend/project.json
  apps/mini-social/backend/src/app/.gitkeep
  apps/mini-social/backend/src/assets/.gitkeep
  apps/mini-social/backend/src/environments/environment.prod.ts
  apps/mini-social/backend/src/environments/environment.ts
  apps/mini-social/backend/src/main.ts
  apps/mini-social/backend/tsconfig.app.json
  apps/mini-social/backend/tsconfig.json
  apps/mini-social/backend/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: npx eslint --fix --color, npx prettier --write

chore: [nx migration] 15.0.0-prefix-outputs
  apps/mini-social/backend/project.json
  apps/mini-social/frontend/project.json
  apps/sandbox/project.json
  libs/mini-social/feature-posts/project.json
  libs/mini-social/ui-layout/project.json
Due: npx prettier --write

chore: [nx migration] 15.1.0-set-project-names
  apps/mini-social/frontend/project.json
  apps/sandbox/project.json
  libs/mini-social/feature-posts/project.json
  libs/mini-social/ui-layout/project.json
Due: npx prettier --write

chore: [nx migration] 15.0.0-migrate-to-inputs
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: npx prettier --write

chore: [nx migration] update-rxjs-7-5-0
  package.json
Due: npx prettier --write

chore: [nx migration] update-angular-cli-version-14-2-0
  package.json
Due: npx prettier --write

chore: [nx migration] update-angular-cli-version-14-1-0
  package.json
Due: npx prettier --write

chore: [nx migration] add-eslint-inputs
  nx.json
Due: npx prettier --write

fix: поправил ошибки после миграции на новую версию nx
  apps/mini-social/frontend/src/styles.scss
  migrations.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: npx stylelint --fix, npx prettier --write
